Repository JoeNg93/var-ingredient-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

Setup back-end server to serve website
  package-lock.json
  package.json
  src/back-end/app.js
Due: none

change npm script to start back-end and front-end separately
  package.json
Due: none

Setup Angular Material
  package-lock.json
  package.json
  src/app/app.module.ts
  src/styles.css
Due: prettier --write, tslint, stylelint

reformat + add flexbox grid css lib
  src/index.html
Due: none

Add lodash
  package-lock.json
  package.json
Due: none

Add Material Icons
  src/index.html
Due: none

Add search bar component
  src/app/app.module.ts
  src/app/searchbar/searchbar.component.css
  src/app/searchbar/searchbar.component.html
  src/app/searchbar/searchbar.component.spec.ts
  src/app/searchbar/searchbar.component.ts
Due: prettier --write, tslint, stylelint

Add ESLint
  .eslintrc
  package.json
Due: none

Add Category + Ingredient schema
  package.json
  src/back-end/models/category.js
  src/back-end/models/ingredient.js
Due: none

Add API endpoints for Category + Ingredient
  src/back-end/routers/api/category.js
  src/back-end/routers/api/ingredient.js
Due: none

Add pre-commit actions for .js files
  .lintstagedrc
Due: none

Add nodemon for dev purpose
  package.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

Add /api endpoint
  src/back-end/app.js
  src/back-end/routers/api/index.js
Due: none

Add CORS headers for dev purpose
  package.json
  src/back-end/app.js
Due: none

Add Ingredient Service
  src/app/app.module.ts
  src/app/ingredient.model.ts
  src/app/ingredient.service.spec.ts
  src/app/ingredient.service.ts
Due: prettier --write, tslint

Connect Ingredient Service to Search Bar Component
  src/app/searchbar/searchbar.component.ts
Due: prettier --write, tslint

Add serialization method for Category + Ingredient
  src/back-end/models/category.js
  src/back-end/models/ingredient.js
Due: none

Serialize data before returning from API
  src/back-end/routers/api/category.js
  src/back-end/routers/api/ingredient.js
Due: none

Add body-parser for API endpoints
  package.json
  src/back-end/app.js
Due: none

Add Recipe db schema
  src/back-end/models/recipe.js
Due: none

Add Recipe API endpoint
  src/back-end/routers/api/index.js
  src/back-end/routers/api/recipe.js
Due: none

Add a static method to find recipes by ingredients
  src/back-end/models/recipe.js
Due: none

Fix Recipe schema static method
  src/back-end/models/recipe.js
Due: none

Add logger
  package.json
  src/back-end/app.js
  src/back-end/routers/api/recipe.js
  src/back-end/utils/logger.js
Due: none

Colorize and use simple log output
  src/back-end/utils/logger.js
Due: none

Add timestamp to log output
  src/back-end/utils/logger.js
Due: none

Use regex to handle case where there are spaces before or after comma
  src/back-end/routers/api/recipe.js
Due: none

Update Ingredient model received from server
  src/app/ingredient.model.ts
Due: prettier --write, tslint

Add main page component
  src/app/main-page/main-page.component.css
  src/app/main-page/main-page.component.html
  src/app/main-page/main-page.component.spec.ts
  src/app/main-page/main-page.component.ts
Due: prettier --write, tslint, stylelint

Add routing module and setup default route
  src/app/app-routing.module.spec.ts
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.module.ts
Due: prettier --write, tslint

Add skeleton for recipe list page component
  src/app/recipe-list-page/recipe-list-page.component.css
  src/app/recipe-list-page/recipe-list-page.component.html
  src/app/recipe-list-page/recipe-list-page.component.spec.ts
  src/app/recipe-list-page/recipe-list-page.component.ts
Due: prettier --write, tslint, stylelint

Add Recipe List Page component to /recipes route
  src/app/app-routing.module.ts
  src/app/app.module.ts
Due: prettier --write, tslint

Add Recipe Service
  src/app/recipe.model.ts
  src/app/recipe.service.spec.ts
  src/app/recipe.service.ts
Due: prettier --write, tslint

Add method to get recipes by ingredients
  src/app/recipe.service.ts
Due: prettier --write, tslint

Add navigation to "/recipes" route when clicking search recipes
  src/app/searchbar/searchbar.component.html
  src/app/searchbar/searchbar.component.ts
Due: prettier --write, tslint

Display recipes on page based on query ingredients
  src/app/recipe-list-page/recipe-list-page.component.html
  src/app/recipe-list-page/recipe-list-page.component.ts
Due: prettier --write, tslint

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.css)
  tslint: any of: *.ts
  stylelint: any of: *.css
