Repository JoeNg93/var-ingredient-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint, stylelint

Add recipe's id to API response
  src/back-end/models/recipe.js
Due: prettier --write

Use logger instead of console.log
  src/back-end/routers/api/ingredient.js
Due: prettier --write

Add endpoint /recipes/:id to fetch a single recipe
  src/back-end/routers/api/recipe.js
Due: prettier --write

Add method to get single recipe
  src/app/recipe.service.ts
Due: prettier --write, tslint

Add Recipe Detail component
  src/app/app.module.ts
  src/app/recipe-detail/recipe-detail.component.css
  src/app/recipe-detail/recipe-detail.component.html
  src/app/recipe-detail/recipe-detail.component.spec.ts
  src/app/recipe-detail/recipe-detail.component.ts
Due: prettier --write, tslint, stylelint

Add single recipe route
  src/app/app-routing.module.ts
Due: prettier --write, tslint

Add link to navigate to recipe detail page
  src/app/recipe-list-page/recipe-list-page.component.html
Due: none

Add Tachyon CSS lib
  src/index.html
Due: none

Add global style
  src/styles.css
Due: prettier --write, stylelint

Beautify main page
  src/app/main-page/main-page.component.html
  src/app/searchbar/searchbar.component.html
  src/app/searchbar/searchbar.component.ts
Due: prettier --write, tslint

Increase app name font size
  src/app/main-page/main-page.component.html
Due: none

Add side bar for Recipe List page
  src/app/app.module.ts
  src/app/recipe-list-page/recipe-list-page.component.css
  src/app/recipe-list-page/recipe-list-page.component.html
  src/app/recipe-list-page/recipe-list-page.component.ts
Due: prettier --write, tslint, stylelint

Rename button class
  src/app/recipe-list-page/recipe-list-page.component.css
  src/app/recipe-list-page/recipe-list-page.component.html
Due: prettier --write, stylelint

Add recipe cards
  src/app/app.module.ts
  src/app/recipe-list-page/recipe-list-page.component.html
  src/app/recipe-list-page/recipe-list-page.component.ts
Due: prettier --write, tslint

Add API to like/dislike a recipe
  src/back-end/routers/api/recipe.js
Due: prettier --write

Include id to Recipe model
  src/app/recipe.model.ts
Due: prettier --write, tslint

Add ability to like/dislike a recipe
  src/app/recipe-list-page/recipe-list-page.component.html
  src/app/recipe-list-page/recipe-list-page.component.ts
  src/app/recipe.service.ts
Due: prettier --write, tslint

Show num of missing ingredients + add sorting recipes feature
  src/app/app.module.ts
  src/app/recipe-list-page/recipe-list-page.component.css
  src/app/recipe-list-page/recipe-list-page.component.html
  src/app/recipe-list-page/recipe-list-page.component.ts
Due: prettier --write, tslint, stylelint

Beautify Recipe Detail page
  src/app/recipe-detail/recipe-detail.component.css
  src/app/recipe-detail/recipe-detail.component.html
  src/app/recipe-detail/recipe-detail.component.ts
Due: prettier --write, tslint, stylelint

Fix method in template
  src/app/recipe-detail/recipe-detail.component.html
Due: none

Change way of importing 'lodash' for tree-shaking
  src/app/recipe-detail/recipe-detail.component.ts
  src/app/recipe-list-page/recipe-list-page.component.ts
  src/app/searchbar/searchbar.component.ts
  tsconfig.json
Due: prettier --write, tslint

Add some scripts
  package.json
Due: none

Add config for Heroku deployment
  src/app/ingredient.service.ts
  src/app/recipe.service.ts
  src/back-end/app.js
Due: prettier --write, tslint

Add compression to compress static files to gzip
  package.json
  src/back-end/app.js
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: none

Check hostname for development purpose
  src/app/ingredient.service.ts
  src/app/recipe.service.ts
Due: prettier --write, tslint

Toggle CORS only in development env
  src/back-end/app.js
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.css)) or (any of: *.js)
  tslint: any of: *.ts
  stylelint: any of: *.css
